* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  /* Fonts */
  --main-font: 'Bitter', serif;
  --secondary-font: 'Roboto', sans-serif;

  /* Colors */
  --primary-grey: #222;
  --secondary-grey: #666;
  --tertiary-grey: #999;
  --splash-red: #ff5252;
}


body {
  font-family: sans-serif;
  line-height: 1.5em;
  background-color: var(--primary-grey);
  color: var(--tertiary-grey);
  scroll-behavior: smooth;
}

h1 {
  font-family: var(--main-font);
  color: var(--splash-red);
  font-size: 3em;
  line-height: 1.2em;
  letter-spacing: 0.13em;
  padding: 5% 10% 0 10%;
  text-transform: uppercase;
}

h2 {
  font-family: var(--main-font);
  color: var(--tertiary-grey);
  font-size: 1.6em;
  line-height: 1.2em;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  padding: 0 10%;
  margin-bottom: 10px;
}

h3 {
  color: var(--secondary-grey);
  margin-bottom: 60px;
  padding: 0 10%;
  text-transform: uppercase;
}

p {
  font-family: var(--secondary-font);
  margin-bottom: 15px;
  padding: 0 10%;
}

/* Wrappers */
.container {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.container .slider {
  height: 100vh;
}

.navbar {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  width: 100%;
  position: fixed;
  bottom: 0;
  height: 60px;
  background-color: var(--primary-grey);
}

.navbar .btn {
  text-align: center;
}

.navbar a {
  color: var(--tertiary-grey);
  outline: none;
}

.active i, .navbar a:hover {
  color: var(--splash-red);
}

.navbar span {
  font-size: 0;
}

.navbar i {
  line-height: 60px;
}

.base {
}

#projects h2 {
  padding-top: 10%;
}

.showcase {
  width: 90vw;
  height: 60vh;
  margin: 30px auto 0 auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  justify-content: space-around;
  grid-gap: 5px;
}


.showcase .card {
 background-color: var(--splash-red);
 width: 100%;
 height: auto;
}

.ramblings {
}

.contact {
}
